/******************************************************************************
 * ##    ##  ######    #####   ####  ######     ##      ## ######## ########  *
 * ###   ## ##    ##  ##   ##  #### ##    ##    ##  ##  ## ##       ##     ## *
 * ####  ## ##       ##     ##  ##  ##          ##  ##  ## ##       ##     ## *
 * ## ## ## ##       ##     ## ##    ######     ##  ##  ## ######   ########  *
 * ##  #### ##       ##     ##            ##    ##  ##  ## ##       ##     ## *
 * ##   ### ##    ##  ##   ##       ##    ##    ##  ##  ## ##       ##     ## *
 * ##    ##  ######    #####         ######      ###  ###  ######## ########  *
 *                                                                            *
 *        ########  #######   #######  ##       ##    ## #### ########        *
 *           ##    ##     ## ##     ## ##       ##   ##   ##     ##           *
 *           ##    ##     ## ##     ## ##       ##  ##    ##     ##           *
 *           ##    ##     ## ##     ## ##       #####     ##     ##           *
 *           ##    ##     ## ##     ## ##       ##  ##    ##     ##           *
 *           ##    ##     ## ##     ## ##       ##   ##   ##     ##           *
 *           ##     #######   #######  ######## ##    ## ####    ##           *
 ******************************************************************************
 *          __                                                                *
 *         (OO)    _____,             ___,                      (tm)          *
 *         \__/   ( /  //    o    /  ( /                   _/__               *
 *          |^    -/--// . . , __/    /   __,  __  , ___. ./    .             *
 *          |^  ,_/  (/_/_/_/_(_/_, (/__/(_/|_/ (_/_(_)(_/(__,  |\            *
 *          ||__________________________________ /______________//            *
 *          '---------------------------------- /---------------'             *
 ******************************************************************************
 * Fluid Layout is part of the nc0's Web Toolkit.  Read more about it on-line *
 * at https://nc0.fr/web on the World Wide Web.                               *
 ******************************************************************************
 * Copyright (c) Nicolas Paul <n@nc0.fr> 2024                                 *
 *                                                                            *
 * You can do whatever you want with this software as long as you retain      *
 * this notice without alteration.                                            *
 ******************************************************************************
 * Fluid Layout 1.0                                           Nov. 11th, 2024 *
 *                                                                            *
 *    Fluid Layout is a functional/utilitarian CSS library that provides an   *
 * elegant and responsive layout system called fluid layouts.  Fluid layouts  *
 * automatically adapt their layout according to the viewport and content,    *
 * speeding up the design phase of the hypertext document, while keeping      *
 * things responsive on various screen sizes.                                 *
 * Fluid Layout's API is really intuitive and is composed of a few classes.   *
 *                                                                            *
 * You may create a horizontal fluid layout using fl-horizontal, or a         *
 * vertical one using fl-vertical.  Additionally, wrapping of elements may be *
 * disabled using the fl-nowrap class:                                        *
 *                                                                            *
 *                                                  .fl-vertical              *
 *                                                      +---+                 *
 *                                                      | a |                 *
 *                    +---------------+                 | b |                 *
 *     .fl-horizontal | a  b  c  d  e |                 | c |                 *
 *                    +---------------+                 | d |                 *
 *                                                      | e |                 *
 *                                                      +---+                 *
 *                                                                            *
 *                   screen -> +-------------------------------+              *
 *                             | +---------------------------+ |              *
 *        With wrapping        | |   a   b   c   d   e   f   | |              *
 *        (default)            | |   g   h                   | | overflow     *
 *                             | +---------------------------+ |     v        *
 *                             | +-----------------------------|-----+        *
 *        Without wrapping     | |   a   b   c   d   e   f   g | h   |        *
 *        (.fl-nowrap)         | +-----------------------------|-----+        *
 *                             +-------------------------------+              *
 *                                                                            *
 * You can also configure the alignment origin of a fluid layout children     *
 * thanks to the fl-{left,center,right} classes (for horizontal fluid layouts *
 * only), and fl-{top,middle,bottom} classes (vertical ones).                 *
 * Lastly, you may instead align and distribute children evenly, using the    *
 * fl-auto class (both fluid layouts):                                        *
 *                                                                            *
 *                                       .fl-top   .fl-middle  .fl-bottom     *
 *                +---------------+        +---+      +---+       +---+       *
 *     .fl-left   | a b c d e     |        | a |      |   |       |   |       *
 *                +---------------+        | b |      | a |       |   |       *
 *                +---------------+        | c |      | b |       | a |       *
 *     .fl-center |   a b c d e   |        | d |      | c |       | b |       *
 *                +---------------+        | e |      | d |       | c |       *
 *                +---------------+        |   |      | e |       | d |       *
 *     .fl-right  |     a b c d e |        |   |      |   |       | e |       *
 *                +---------------+        +---+      +---+       +---+       *
 *                                                                            *
 *                                               +---+                        *
 *                            .fl-auto           | a |                        *
 *                                               |   |                        *
 *                                               | b |                        *
 *                +-------------------+          |   |                        *
 *                | a   b   c   d   e |          | c |                        *
 *                +-------------------+          |   |                        *
 *                                               | d |                        *
 *                                               |   |                        *
 *                                               | e |                        *
 *                                               +---+                        *
 *                                                                            *
 * Fluid layouts works on all modern browsers, as well as Microsoft Internet  *
 * Explorer 11.  Some issues with alignments may exist on IE11 given the poor *
 * implementation of CSS flexible box layout on the platform by Microsoft.    *
 * These are listed in this file, starting with BUG():.                       *
 * No support is provided for Microsoft Internet Explorer 10, even if some    *
 * classes may work.                                                          *
 ******************************************************************************/

/* NOTE(nc0): notices labelled as "2012 syntax" refers to an old draft of the
   CSS Flexible Box Layout Module that happened to be implemented (at least)
   partially on Internet Explorer 10.
   See https://www.w3.org/TR/2012/WD-css3-flexbox-20120322/. */

/* BUG(nc0): IE11 fails to calculate an element's children flexed sizes when
   min-height is set but height is not.
   See https://connect.microsoft.com/IE/feedback/details/802625/. */

/* BUG(nc0): IE11 doesn't vertically aligns items correctly when min-height is
   set.
   See https://connect.microsoft.com/IE/feedback/details/816293/. */

.fl-horizontal               /* Create a horizontal fluid layout, with content
                                wrapping on a new line if required, unless the
                                fl-nowrap class is also applied. */
{
	display:         inline-flex;
	display:         inline-flexbox; /* 2012 syntax */
	flex-direction:  row; /* main-axis > ; cross-axis v */
	flex-wrap:       wrap;
	align-items:     center;
	justify-content: flex-start;
}

.fl-vertical                 /* Create a vertical fluid layout, with content
                                wrapping on a new column if required, unless
                                the fl-nowrap class is also applied. */
{
	display:         inline-flex;
	display:         inline-flexbox; /* 2012 syntax */
	flex-direction:  column; /* main-axis v ; cross-axis > */
	flex-wrap:       nowrap;
	align-items:     flex-start;
	justify-content: center;
}

.fl-horizontal > *,
.fl-vertical   > *           /* Make sure fluid layouts children occupy the
                                entire space available to them. */
{
	flex-basis:        100%;
	flex-shrink:       1;
	flex-grow:         0;
	-ms-flex-positive: 0; /* IE10 */
	align-self:        stretch;
}

.fl-nowrap                   /* Disable the wrapping behavior of fluid layouts,
                                which means that content which does not fit the
                                element size will stay on the same line/column
                                and may break the responsivness of the
                                hypertext document. */
{
	flex-wrap: nowrap;
}

.fl-horizontal .fl-left      /* Align and resize the horizontal fluid layout
                                from the left side of the screen (default). */
{
	justify-content: flex-start;
}

.fl-horizontal .fl-center    /* Align and resize the fluid layout from the
                                center. */
{
	justify-content: center;
}

.fl-horizontal .fl-right     /* Align and resize the horizontal fluid layout
                                from the right side of the screen. */
{
	justify-content: flex-end;
}

.fl-vertical .fl-top         /* Align and resize the vertical fluid layout from
                                the top of the screen (default). */
{
	justify-content: flex-start;
}

.fl-vertical .fl-middle      /* Align and resize the vertical fluid layout from
                                the middle of the screen. */
{
	justify-content: center;
}

.fl-vertical .fl-bottom      /* Align and resize the vertical fluid layout from
                                the bottom of the screen. */
{
	justify-content: flex-end;
}

.fl-horizontal .fl-auto,
.fl-vertical   .fl-auto       /* Distribute the fluid layout's children evenly
                                in the main axis. */
{
	justify-content: space-between;
}
